<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-app="myApp">
            <div ng-controller="MyController as $ctrl">
                <h3>Login</h3>
                
                <div><label>Login:</label><input type="text" ng-model="$ctrl.username"></div>
                <div><label>Senha:</label><input type="password" ng-model="$ctrl.senha"></div>
                <div><button ng-click="$ctrl.login()">Logar</button></div>
                <hr/>
                <hr/>
                <div>Noticias</div>
                <div ng-repeat="noticia in $ctrl.noticias">
                   <div><label>Titulo:</label>{{noticia.titulo}}</div>
                   <div><label>Mensagem:</label>{{noticia.mensagem}}</div>
                   <div><label>Imagem:</label>{{noticia.imagem}}</div>
                   <div><label>Autor:</label>{{noticia.autor}}</div>
                   <div><label>Data:</label>{{noticia.data}}</div>
                   <hr/>
                </div>
                <hr/>
                <hr/>
                <div>Nova Noticia</div>
                <div>
                   <div><label>Titulo:</label><input type="text" ng-model="$ctrl.titulo"></div>
                   <div><label>Mensagem:</label><input type="text" ng-model="$ctrl.mensagem"></div>
                   <div><label>Imagem:</label><input type="text" ng-model="$ctrl.imagem"></div>
                   <div><button ng-click="$ctrl.novaNoticia()">Nova Noticia</button></div>
                </div>
            </div>
        </div>
    </body>
</html>
 
 
